[submodule "kitty"]
	path = Impr-kitty
	url = git@github.com:lordziegler/Impr-Kitty.git
[submodule "waybar"]
	path = Spicebar
	url = git@github.com:lordziegler/Spicebar.git
[submodule "yazi"]
	path = Impr-yazi
	url = git@github.com:lordziegler/Impr-yazi.git
[submodule "wlogout"]
	path = Impr-wlogout
	url = git@github.com:lordziegler/Impr-wlogout.git
[submodule "theme"]
	path = Impr-theme
	url = git@github.com:lordziegler/Impr-theme.git
[submodule "swaync"]
	path = Impr-swaync
	url = git@github.com:lordziegler/Impr-swaync.git
[submodule "sddm"]
	path = Impr-sddm
	url = git@github.com:lordziegler/Impr-sddm.git
[submodule "satty"]
	path = Impr-satty
	url = git@github.com:lordziegler/Impr-satty.git
[submodule "niri"]
	path = Impr-niri
	url = git@github.com:lordziegler/Impr-niri.git
[submodule "newsboat"]
	path = Impr-newsboat
	url = git@github.com:lordziegler/Impr-newsboat.git
[submodule "konsole"]
	path = Impr-Konsole
	url = git@github.com:lordziegler/Impr-Konsole.git
[submodule "fastfetch"]
	path = Impr-fastfetch
	url = git@github.com:lordziegler/Impr-fastfetch.git
[submodule "cava"]
	path = Impr-cava
	url = git@github.com:lordziegler/Impr-cava.git
[submodule "fuzzel"]
	path = Impr-fuzzle
	url = git@github.com:lordziegler/Impr-fuzzle.git
[submodule "bat"]
	path = Impr-bat
	url = git@github.com:lordziegler/Impr-bat.git
[submodule "broot"]
	path = Impr-Broot
	url = git@github.com:lordziegler/Impr-Broot.git
[submodule "starship"]
	path = Impr-ship
	url = git@github.com:lordziegler/Impr-ship.git
[submodule "zsh"]
	path = zardaukar-sh
	url = git@github.com:lordziegler/zardaukar-sh.git
[submodule "systemd-user"]
	path = Arrakis-sunset
	url = git@github.com:lordziegler/Arrakis-sunset.git
[submodule "btop"]
	path = Impr-btop
	url = git@github.com:lordziegler/Impr-btop.git
[submodule "nvim"]
	path = Impr-nvim
	url = git@github.com:lordziegler/Impr-nvim.git
[submodule "spotify"]
	path = Impr-spotify
	url = https://github.com/lordziegler/Impr-spotify.git
